/* Tags properties */

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* Positions */

#fixed-navbar {
  position: fixed;
  top: -50px;
  transition: top 0.3s;
}

/* Display */

.auto-flex {
  flex: 0 0 auto;
}

/* Sizes - Percentages */

.w94 {
  width: 94%;
}

.w100 {
  width: 100%;
  margin: 0 auto;
}

/* Sizes - Pixels */

.w95px {
  width: 95px;
  height: 95px;
}

.w1260px {
  width: 1260px;
}

/* Page Content */

.page-content {
  max-width: 1300px;
}

/* Background colors */

body,
.bg-grey {
  background-color: #f4f5f6;
}

.bg-white {
  background-color: #fff;
}

.bg-red {
  background-color: #f72210;
}

/* Font sizes */

.font-size-small {
  font-size: smaller;
  line-height: 0;
}

.font-size-navbar {
  font-size: 18px;
}

/* Font colors */

.font-white {
  color: #fff;
}

.font-grey {
  color: #757575;
}

.font-red {
  color: #f72210;
}

/* Hover effects */

.font-hover-red:hover {
  color: #f72210 !important;
}

.font-hover-white:hover {
  color: #fff !important;
}

.font-hover-black:hover {
  color: #000 !important;
}

.underline-hover-red:hover {
  text-decoration: underline !important;
  text-decoration-color: #f72210 !important;
}

/* Buttons */

.button-no-bg {
  background: none;
  border: 0;
}

/* Navbar */

.nav-top-logo {
  width: 140px;
}

.triangle-shape {
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Footer */

.border-right-min-tablet {
  border: 0 !important;
}

/* Media Queries */

@media (min-width: 768px) {
  .border-right-min-tablet {
    border-right: 1px solid #dee2e6 !important;
  }
}

@media (min-width: 992px) {
  .nav-top-logo {
    width: 400px;
  }
}
